[submodule "resources/jetlinks-community"]
	path = resources/jetlinks-community
	url = https://github.com/jetlinks/jetlinks-community.git
[submodule "resources/jetlinks-ui-vue"]
	path = resources/jetlinks-ui-vue
	url = https://github.com/jetlinks/jetlinks-ui-vue.git
[submodule "resources/jetlinks-supports"]
	path = resources/jetlinks-supports
	url = https://github.com/jetlinks/jetlinks-supports.git
[submodule "resources/rule-engine"]
	path = resources/rule-engine
	url = https://github.com/jetlinks/rule-engine.git
[submodule "resources/hsweb-framework"]
	path = resources/hsweb-framework
	url = https://github.com/hs-web/hsweb-framework.git
[submodule "resources/reactor-ql"]
	path = resources/reactor-ql
	url = https://github.com/jetlinks/reactor-ql.git
[submodule "resources/netdata"]
	path = resources/netdata
	url = https://github.com/netdata/netdata.git
[submodule "resources/thingsboard"]
	path = resources/thingsboard
	url = https://github.com/thingsboard/thingsboard.git
[submodule "resources/freeopcua/freeopcua"]
	path = resources/freeopcua/freeopcua
	url = https://github.com/FreeOpcUa/freeopcua.git
[submodule "resources/freeopcua/python-opcua"]
	path = resources/freeopcua/python-opcua
	url = https://github.com/FreeOpcUa/python-opcua.git
[submodule "resources/freeopcua/opcua-asyncio"]
	path = resources/freeopcua/opcua-asyncio
	url = https://github.com/FreeOpcUa/opcua-asyncio.git
[submodule "resources/freeopcpu/opcua-client-gui"]
	path = resources/freeopcua/opcua-client-gui
	url = https://github.com/FreeOpcUa/opcua-client-gui.git
[submodule "resources/eclipse-ditto"]
	path = resources/eclipse-ditto
	url = https://github.com/eclipse-ditto/ditto.git
